@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>SEO for Infotrack</h1>
    <p class="lead">Find where your website stands in google search list</p>
    <div class="container">
        <h2>Enter the search keyword and your website</h2>
        @using (Html.BeginForm("GetLinks", "SEO", FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            <form role="form">

                <div class="form-group">
                    <label for="keyword">Keyword</label>
                    <input class="form-control" id="keyword" name="keyword" placeholder="Enter Keyword">
                </div>
                <div class="form-group">
                    <label for="website">Website</label>
                    <input class="form-control" id="website" name="website" placeholder="Enter Website">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">Search</button>
                </div>

            </form>
        }

    </div>
</div>